/*
Name: My First Theme
Theme URI: http://test-site-1.local/
Author: Erin Dawson
Author URI: https://www.erinedawson.com/
Description: My first attempt at a WP theme from scratch
Version: 1.0
License: GNU General Public License v2 or later
Text Domain: myfirsttheme
*/
